In [95]:
import pandas as pd
import numpy as np

In [96]:
df = pd.read_csv('diabetes.csv')
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [98]:
df['Glucose'].replace(0, np.nan, inplace=True)
df['BloodPressure'].replace(0, np.nan, inplace=True)
df['SkinThickness'].replace(0, np.nan, inplace=True)
df['Insulin'].replace(0, np.nan, inplace=True)
df['BMI'].replace(0, np.nan, inplace=True)
df['DiabetesPedigreeFunction'].replace(0, np.nan, inplace=True)
df['Age'].replace(0, np.nan, inplace=True)

In [99]:
df.isna().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [100]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,763.000000,733.000000,541.000000,394.000000,757.000000,768.000000,768.000000,768.000000
mean,3.845052,121.686763,72.405184,29.153420,155.548223,32.457464,0.471876,33.240885,0.348958
std,3.369578,30.535641,12.382158,10.476982,118.775855,6.924988,0.331329,11.760232,0.476951
min,0.000000,44.000000,24.000000,7.000000,14.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,64.000000,22.000000,76.250000,27.500000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,29.000000,125.000000,32.300000,0.372500,29.000000,0.000000
75%,6.000000,141.000000,80.000000,36.000000,190.000000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [101]:
data = df.values
X = data[:, :-1]
y = data[:, -1]
pd.DataFrame(X)

        0      1     2     3      4     5      6     7
0     6.0  148.0  72.0  35.0    NaN  33.6  0.627  50.0
1     1.0   85.0  66.0  29.0    NaN  26.6  0.351  31.0
2     8.0  183.0  64.0   NaN    NaN  23.3  0.672  32.0
3     1.0   89.0  66.0  23.0   94.0  28.1  0.167  21.0
4     0.0  137.0  40.0  35.0  168.0  43.1  2.288  33.0
..    ...    ...   ...   ...    ...   ...    ...   ...
763  10.0  101.0  76.0  48.0  180.0  32.9  0.171  63.0
764   2.0  122.0  70.0  27.0    NaN  36.8  0.340  27.0
765   5.0  121.0  72.0  23.0  112.0  26.2  0.245  30.0
766   1.0  126.0  60.0   NaN    NaN  30.1  0.349  47.0
767   1.0   93.0  70.0  31.0    NaN  30.4  0.315  23.0

[768 rows x 8 columns]

In [102]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [103]:
sc = StandardScaler()
X = sc.fit_transform(X)

In [104]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=1)

In [105]:
mean_imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
median_imputer = SimpleImputer(missing_values=np.nan, strategy='median')

In [106]:
X_train[:, (1,2,3,5)] = mean_imputer.fit_transform(X_train[:, (1,2,3,5)])
X_train[:, (4,6,7)] = median_imputer.fit_transform(X_train[:, (4,6,7)])
X_test[:, (1,2,3,5)] = mean_imputer.transform(X_test[:, (1,2,3,5)])
X_test[:, (4,6,7)] = median_imputer.transform(X_test[:, (4,6,7)])

In [107]:
pd.DataFrame(X_train).isna().any()

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
dtype: bool

In [108]:
pd.DataFrame(X_train).head(10)

,0,1,2,3,4,5,6,7
0,1.530847,0.763977,0.613787,1.609449,-0.215370,0.786447,0.498693,0.575118
1,1.827813,0.239656,-0.840911,0.654093,-0.257519,1.263297,-0.093250,0.404942
2,0.936914,-0.645137,0.128887,1.036235,-0.426118,0.685297,-0.809018,1.000557
3,1.233880,-0.055275,0.452153,-0.036565,-0.257519,-1.077604,-0.189894,2.617224
4,-0.547919,-0.055275,0.290520,0.749628,-0.426118,1.046547,-0.775797,-0.360847
5,-1.141852,-0.907298,-0.010504,-0.036565,-0.257519,-0.037275,-0.651972,-0.701198
6,-0.844885,2.205861,-1.002544,-0.587871,5.820456,-0.340654,-0.223115,2.191785
7,-0.250952,1.189988,-0.194379,0.080879,1.453755,0.439647,-0.386202,0.149679
8,-1.141852,-0.874528,-0.679278,0.940700,-0.426118,1.754597,-0.319759,-0.956462
9,-0.844885,-0.972838,-0.840911,-0.396800,-0.965633,-1.872354,0.030575,-0.701198

In [109]:
X_train.shape

(614, 8)

In [110]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [111]:
model1 = Sequential()
model1.add(Dense(128, input_shape = (8,), activation = "relu"))
model1.add(Dense(64, activation = "relu"))
model1.add(Dense(64, activation = "sigmoid"))
model1.add(Dense(32, activation = "sigmoid"))
model1.add(Dense(32, activation = "sigmoid"))
model1.add(Dense(1, activation = "sigmoid"))
model1.summary()

Model: "sequential_17"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_96 (Dense)            (None, 128)               1152

 dense_97 (Dense)            (None, 64)                8256

 dense_98 (Dense)            (None, 64)                4160

 dense_99 (Dense)            (None, 32)                2080

 dense_100 (Dense)           (None, 32)                1056

 dense_101 (Dense)           (None, 1)                 33

=================================================================
Total params: 16,737
Trainable params: 16,737
Non-trainable params: 0
_________________________________________________________________

In [112]:
model1.compile(optimizer='adam', loss = "mean_squared_error", metrics = ["accuracy"])
model1.fit(X_train, y_train, epochs=20, batch_size=128)

Epoch 1/20
5/5 [==============================] - 1s 3ms/step - loss: 0.2488 - accuracy: 0.6531
Epoch 2/20
5/5 [==============================] - 0s 3ms/step - loss: 0.2368 - accuracy: 0.6531
Epoch 3/20
5/5 [==============================] - 0s 3ms/step - loss: 0.2274 - accuracy: 0.6531
Epoch 4/20
5/5 [==============================] - 0s 3ms/step - loss: 0.2241 - accuracy: 0.6531
Epoch 5/20
5/5 [==============================] - 0s 3ms/step - loss: 0.2230 - accuracy: 0.6531
Epoch 6/20
5/5 [==============================] - 0s 3ms/step - loss: 0.2211 - accuracy: 0.6531
Epoch 7/20
5/5 [==============================] - 0s 3ms/step - loss: 0.2177 - accuracy: 0.6531
Epoch 8/20
5/5 [==============================] - 0s 2ms/step - loss: 0.2135 - accuracy: 0.6531
Epoch 9/20
5/5 [==============================] - 0s 2ms/step - loss: 0.2080 - accuracy: 0.6531
Epoch 10/20
5/5 [==============================] - 0s 3ms/step - loss: 0.2027 - accuracy: 0.6531
Epoch 11/20
5/5 [==============================] - 0s 3ms/step - loss: 0.1966 - accuracy: 0.6531
Epoch 12/20
5/5 [==============================] - 0s 3ms/step - loss: 0.1897 - accuracy: 0.6531
Epoch 13/20
5/5 [==============================] - 0s 3ms/step - loss: 0.1836 - accuracy: 0.6645
Epoch 14/20
5/5 [==============================] - 0s 3ms/step - loss: 0.1775 - accuracy: 0.7736
Epoch 15/20
5/5 [==============================] - 0s 4ms/step - loss: 0.1720 - accuracy: 0.7687
Epoch 16/20
5/5 [==============================] - 0s 3ms/step - loss: 0.1672 - accuracy: 0.7687
Epoch 17/20
5/5 [==============================] - 0s 4ms/step - loss: 0.1637 - accuracy: 0.7752
Epoch 18/20
5/5 [==============================] - 0s 3ms/step - loss: 0.1605 - accuracy: 0.7769
Epoch 19/20
5/5 [==============================] - 0s 3ms/step - loss: 0.1584 - accuracy: 0.7769
Epoch 20/20
5/5 [==============================] - 0s 3ms/step - loss: 0.1564 - accuracy: 0.7850

In [113]:
model1.evaluate(X_test, y_test)[1]

5/5 [==============================] - 0s 2ms/step - loss: 0.1434 - accuracy: 0.8052

0.8051947951316833

In [114]:
y_pred = (model1.predict(X_test) > 0.5).astype('int32')

5/5 [==============================] - 0s 2ms/step

In [115]:
from sklearn.metrics import accuracy_score

In [116]:
accuracy_score(y_test, y_pred)

0.8051948051948052