In [274]:
import pandas as pd

In [275]:
import numpy as np

In [276]:
data = pd.read_csv("data/credit_card_default.csv")

In [277]:
data

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_1,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,29999,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,30000,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [278]:
data.columns

Index(['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_1',
       'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2',
       'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1',
       'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6',
       'default payment next month'],
      dtype='object')

In [279]:
data = data.rename(columns = lambda x: x.lower())

In [280]:
data = data.rename(columns = {"default payment next month":"default"})

In [281]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 25 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         30000 non-null  int64
 1   limit_bal  30000 non-null  int64
 2   sex        30000 non-null  int64
 3   education  30000 non-null  int64
 4   marriage   30000 non-null  int64
 5   age        30000 non-null  int64
 6   pay_1      30000 non-null  int64
 7   pay_2      30000 non-null  int64
 8   pay_3      30000 non-null  int64
 9   pay_4      30000 non-null  int64
 10  pay_5      30000 non-null  int64
 11  pay_6      30000 non-null  int64
 12  bill_amt1  30000 non-null  int64
 13  bill_amt2  30000 non-null  int64
 14  bill_amt3  30000 non-null  int64
 15  bill_amt4  30000 non-null  int64
 16  bill_amt5  30000 non-null  int64
 17  bill_amt6  30000 non-null  int64
 18  pay_amt1   30000 non-null  int64
 19  pay_amt2   30000 non-null  int64
 20  pay_amt3   30000 non-null  int64
 21  pay_amt4   30000 non-null  int64
 22  pay_amt5   30000 non-null  int64
 23  pay_amt6   30000 non-null  int64
 24  default    30000 non-null  int64
dtypes: int64(25)
memory usage: 5.7 MB

In [282]:
data['sex'].value_counts()

2    18112
1    11888
Name: sex, dtype: int64

In [283]:
data['education'].value_counts()

2    14030
1    10585
3     4917
5      280
4      123
6       51
0       14
Name: education, dtype: int64

In [284]:
data['marriage'].value_counts()

2    15964
1    13713
3      323
Name: marriage, dtype: int64

In [285]:
data["male"] = (data['sex'] == 1).astype(int)

In [286]:
data

,id,limit_bal,sex,education,marriage,age,pay_1,pay_2,pay_3,pay_4,...,bill_amt5,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default,male
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,689,0,0,0,0,1,0
1,2,120000,2,2,2,26,-1,2,0,0,...,3455,3261,0,1000,1000,1000,0,2000,1,0
2,3,90000,2,2,2,34,0,0,0,0,...,14948,15549,1518,1500,1000,1000,1000,5000,0,0
3,4,50000,2,2,1,37,0,0,0,0,...,28959,29547,2000,2019,1200,1100,1069,1000,0,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,19146,19131,2000,36681,10000,9000,689,679,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1,3,1,39,0,0,0,0,...,31237,15980,8500,20000,5003,3047,5000,1000,0,1
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,5190,0,1837,3526,8998,129,0,0,0,1
29997,29998,30000,1,2,2,37,4,3,2,-1,...,20582,19357,0,0,22000,4200,2000,3100,1,1
29998,29999,80000,1,3,1,41,1,-1,0,0,...,11855,48944,85900,3409,1178,1926,52964,1804,1,1
29999,30000,50000,1,2,1,46,0,0,0,0,...,32428,15313,2078,1800,1430,1000,1000,1000,1,1

In [287]:
data['grad_school'] = (data['education']==1).astype(int)

In [288]:
data

,id,limit_bal,sex,education,marriage,age,pay_1,pay_2,pay_3,pay_4,...,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default,male,grad_school
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,689,0,0,0,0,1,0,0
1,2,120000,2,2,2,26,-1,2,0,0,...,3261,0,1000,1000,1000,0,2000,1,0,0
2,3,90000,2,2,2,34,0,0,0,0,...,15549,1518,1500,1000,1000,1000,5000,0,0,0
3,4,50000,2,2,1,37,0,0,0,0,...,29547,2000,2019,1200,1100,1069,1000,0,0,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,19131,2000,36681,10000,9000,689,679,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1,3,1,39,0,0,0,0,...,15980,8500,20000,5003,3047,5000,1000,0,1,0
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,0,1837,3526,8998,129,0,0,0,1,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,19357,0,0,22000,4200,2000,3100,1,1,0
29998,29999,80000,1,3,1,41,1,-1,0,0,...,48944,85900,3409,1178,1926,52964,1804,1,1,0
29999,30000,50000,1,2,1,46,0,0,0,0,...,15313,2078,1800,1430,1000,1000,1000,1,1,0

In [289]:
data["university"] = (data['education']==2).astype(int)

In [290]:
data

,id,limit_bal,sex,education,marriage,age,pay_1,pay_2,pay_3,pay_4,...,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default,male,grad_school,university
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,689,0,0,0,0,1,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,0,1000,1000,1000,0,2000,1,0,0,1
2,3,90000,2,2,2,34,0,0,0,0,...,1518,1500,1000,1000,1000,5000,0,0,0,1
3,4,50000,2,2,1,37,0,0,0,0,...,2000,2019,1200,1100,1069,1000,0,0,0,1
4,5,50000,1,2,1,57,-1,0,-1,0,...,2000,36681,10000,9000,689,679,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1,3,1,39,0,0,0,0,...,8500,20000,5003,3047,5000,1000,0,1,0,0
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,1837,3526,8998,129,0,0,0,1,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,0,0,22000,4200,2000,3100,1,1,0,1
29998,29999,80000,1,3,1,41,1,-1,0,0,...,85900,3409,1178,1926,52964,1804,1,1,0,0
29999,30000,50000,1,2,1,46,0,0,0,0,...,2078,1800,1430,1000,1000,1000,1,1,0,1

In [291]:
data["married"] = (data['marriage']==1).astype(int)

In [292]:
data

,id,limit_bal,sex,education,marriage,age,pay_1,pay_2,pay_3,pay_4,...,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default,male,grad_school,university,married
0,1,20000,2,2,1,24,2,2,-1,-1,...,689,0,0,0,0,1,0,0,1,1
1,2,120000,2,2,2,26,-1,2,0,0,...,1000,1000,1000,0,2000,1,0,0,1,0
2,3,90000,2,2,2,34,0,0,0,0,...,1500,1000,1000,1000,5000,0,0,0,1,0
3,4,50000,2,2,1,37,0,0,0,0,...,2019,1200,1100,1069,1000,0,0,0,1,1
4,5,50000,1,2,1,57,-1,0,-1,0,...,36681,10000,9000,689,679,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1,3,1,39,0,0,0,0,...,20000,5003,3047,5000,1000,0,1,0,0,1
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,3526,8998,129,0,0,0,1,0,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,0,22000,4200,2000,3100,1,1,0,1,0
29998,29999,80000,1,3,1,41,1,-1,0,0,...,3409,1178,1926,52964,1804,1,1,0,0,1
29999,30000,50000,1,2,1,46,0,0,0,0,...,1800,1430,1000,1000,1000,1,1,0,1,1

In [293]:
# pd.get_dummies(data['education'].astype("category"))

In [294]:
data.columns

Index(['id', 'limit_bal', 'sex', 'education', 'marriage', 'age', 'pay_1',
       'pay_2', 'pay_3', 'pay_4', 'pay_5', 'pay_6', 'bill_amt1', 'bill_amt2',
       'bill_amt3', 'bill_amt4', 'bill_amt5', 'bill_amt6', 'pay_amt1',
       'pay_amt2', 'pay_amt3', 'pay_amt4', 'pay_amt5', 'pay_amt6', 'default',
       'male', 'grad_school', 'university', 'married'],
      dtype='object')

In [295]:
# data[['male',"grad_school","university","married"]]

In [296]:
# data.columns

In [297]:
bill_amt_features = ["bill_amt" + str(i) for i in range(1,7)]
pay_amt_features = ["pay_amt" + str(i) for i in range(1,7)]

In [298]:
# pay_amt_features

In [299]:
binary_features = ['male', 'grad_school', 'university', 'married']

In [300]:
pay_features = ["pay_" + str(i) for i in range(1,7)]

In [301]:
 num_features = ["limit_bal", "age"] + bill_amt_features + pay_amt_features + pay_features

In [302]:
x = data[num_features + binary_features]

In [303]:
y = data['default']

In [304]:
pd.DataFrame(x)

,limit_bal,age,bill_amt1,bill_amt2,bill_amt3,bill_amt4,bill_amt5,bill_amt6,pay_amt1,pay_amt2,...,pay_1,pay_2,pay_3,pay_4,pay_5,pay_6,male,grad_school,university,married
0,20000,24,3913,3102,689,0,0,0,0,689,...,2,2,-1,-1,-2,-2,0,0,1,1
1,120000,26,2682,1725,2682,3272,3455,3261,0,1000,...,-1,2,0,0,0,2,0,0,1,0
2,90000,34,29239,14027,13559,14331,14948,15549,1518,1500,...,0,0,0,0,0,0,0,0,1,0
3,50000,37,46990,48233,49291,28314,28959,29547,2000,2019,...,0,0,0,0,0,0,0,0,1,1
4,50000,57,8617,5670,35835,20940,19146,19131,2000,36681,...,-1,0,-1,0,0,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,220000,39,188948,192815,208365,88004,31237,15980,8500,20000,...,0,0,0,0,0,0,1,0,0,1
29996,150000,43,1683,1828,3502,8979,5190,0,1837,3526,...,-1,-1,-1,-1,0,0,1,0,0,0
29997,30000,37,3565,3356,2758,20878,20582,19357,0,0,...,4,3,2,-1,0,0,1,0,1,0
29998,80000,41,-1645,78379,76304,52774,11855,48944,85900,3409,...,1,-1,0,0,0,-1,1,0,0,1
29999,50000,46,47929,48905,49764,36535,32428,15313,2078,1800,...,0,0,0,0,0,0,1,0,1,1

In [327]:
from sklearn.model_selection import train_test_split, GridSearchCV

In [306]:
x_train, x_test, y_train, y_test = train_test_split(x,y,
                                                    test_size=0.2, 
                                                    random_state = 134)

In [307]:
# x_train

In [308]:
sc_features = ["limit_bal", "age"] + bill_amt_features + pay_amt_features

In [309]:
from sklearn.preprocessing import StandardScaler

In [310]:
sc = StandardScaler()

In [311]:
x_train.loc[:,sc_features] = sc.fit_transform(x_train[sc_features])

In [312]:
x_test.loc[:,sc_features] = sc.fit_transform(x_test[sc_features])

In [313]:
from sklearn.cluster import KMeans
from sklearn.ensemble import GradientBoostingClassifier

In [314]:
kmc = KMeans(n_clusters=3)

In [315]:
kmc.fit(x_train,y_train)

KMeans(n_clusters=3)

In [316]:
y_pred_kmc = kmc.predict(x_test)
y_pred_kmc

array([1, 2, 2, ..., 2, 0, 2], dtype=int32)

In [317]:
from sklearn.metrics import accuracy_score, precision_score

In [318]:
accuracy_kmc = accuracy_score(y_test, y_pred_kmc)
accuracy_kmc

0.30283333333333334

In [319]:
gb = GradientBoostingClassifier(learning_rate=0.1)
gb.fit(x_train,y_train)

GradientBoostingClassifier()

In [320]:
y_pred_grad = gb.predict(x_test)
y_pred_grad

array([0, 0, 0, ..., 0, 0, 0])

In [321]:
accuracy_grad = accuracy_score(y_test, y_pred_grad)
accuracy_grad

0.8158333333333333

In [322]:
from sklearn.linear_model import LogisticRegression

In [323]:
log_model=LogisticRegression()
log_model.fit(x_train, y_train)

LogisticRegression()

In [324]:
y_pred_log = log_model.predict(x_test)
y_pred_log

array([0, 0, 0, ..., 0, 0, 0])

In [325]:
accuracy_log = accuracy_score(y_test, y_pred_log)
accuracy_log

0.8056666666666666

In [326]:
from sklearn.neighbors import KNeighborsClassifier

In [328]:
'''knn_test = KNeighborsClassifier()
#create a dictionary of all values we want to test for n_neighbors
param_grid = {'n_neighbors': np.arange(1, 40)}
#use gridsearch to test all values for n_neighbors
knn_gscv = GridSearchCV(knn_test, param_grid, cv=5)
knn_gscv.fit(x_train, y_train)
'''

GridSearchCV(cv=5, estimator=KNeighborsClassifier(),
             param_grid={'n_neighbors': array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39])})

In [329]:
#knn_gscv.best_params_

{'n_neighbors': 30}

returns 30 as best n value

In [330]:
knn = KNeighborsClassifier(n_neighbors=30)
knn.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=30)

In [331]:
y_pred_knn = knn.predict(x_test)

In [332]:
accuracy_knn = accuracy_score(y_test, y_pred_knn)
precision_knn = precision_score(y_test, y_pred_knn)

In [333]:
accuracy_knn

0.8105

In [334]:
from sklearn.tree import DecisionTreeClassifier